{
  "env": {
    "modern": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "8"
            },
            "loose": true
          }
        ]
      ],
      "plugins": [
        ["@babel/syntax-object-rest-spread"],
        "add-module-exports"
      ],
      "ignore": ["**/__tests__", "**/__fixtures__", "node_modules"]
    },
    "legacy": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "4"
            },
            "loose": true
          }
        ]
      ],
      "plugins": [
        ["@babel/syntax-object-rest-spread"],
        "@babel/transform-runtime",
        "add-module-exports"
      ],
      "ignore": ["**/__tests__", "**/__fixtures__", "node_modules"]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [["@babel/syntax-object-rest-spread"]]
    }
  }
}
