name: Release

on:
  push:
    branches:
      - master
    paths:
      - '.changeset/*/*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Use Node.js 10.x
        uses: actions/setup-node@v2
        with:
          node-version: 10.x

      - name: Install Yarn
        run: curl -o- -L https://yarnpkg.com/install.sh | bash

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Publish to npm
        if: github.repository == 'ext/better-ajv-errors'
        uses: changesets/action@master
        with:
          # The --otp=1 is to get around a bug in changesets
          # It will be fixed in Changesets 2
          publish: yarn release --otp=1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
